[connections.my_example_connection]
account = "PEASDSA-JE05124"
user = "ZIZOU"
password = "3S4UE4p2nruXFP8"
role = "ACCOUNTADMIN"
warehouse = "COMPUTE_WH"
database = "OLYMPIC_MEDALS"
schema = "PUBLIC"